Source: sdl3-synth
Section: sound
Priority: optional
Maintainer: Jakob Flierl <jakob.flierl@gmail.com>
Build-Depends: cmake,
               pkg-config,
               ninja-build,
               libgl-dev,
               libasound2-dev,
               libpulse-dev,
               libjack-dev,
               libsndio-dev,
               libx11-dev,
               libxrandr-dev,
               libxcursor-dev,
               libxfixes-dev,
               libxi-dev,
               libxtst-dev,
               libxkbcommon-dev,
               libdrm-dev,
               libgbm-dev,
               libgl1-mesa-dev,
               libgles2-mesa-dev,
               libegl1-mesa-dev,
               libdbus-1-dev,
               libudev-dev,
               git
Standards-Version: 4.6.0
Homepage: https://github.com/koppi/sdl3-synth
Vcs-Git: https://github.com/koppi/sdl3-synth.git
Vcs-Browser: https://github.com/koppi/sdl3-synth

Package: sdl3-synth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Real-time polyphonic synthesizer
 sdl3-synth is a powerful, real-time polyphonic synthesizer built in C++ using
 SDL3 for low-latency audio output and Dear ImGui for an intuitive graphical
 interface.
