#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	cmake -S . -B build \
		-DCMAKE_BUILD_TYPE=Release \
		-DSDL_SHARED=OFF \
		-DSDL_STATIC=ON \
		-DSDL_STATIC_PIC=ON \
		-DSDL_TEST=OFF \
		-DSDL_TESTS=OFF \
		-DSDL_X11_XSCRNSAVER=OFF

override_dh_auto_build:
	cmake --build build -j$$(nproc)

override_dh_auto_install:
	install -Dm755 build/sdl3-synth debian/sdl3-synth/usr/bin/sdl3-synth
	install -Dm644 data/xkcd-script.ttf debian/sdl3-synth/usr/share/sdl3-synth/xkcd-script.ttf
	install -Dm644 LICENSE.txt debian/sdl3-synth/usr/share/doc/sdl3-synth/copyright
	mkdir -p debian/sdl3-synth/usr/lib/sdl3-synth
	if ls build/_deps/libremidi-build/liblibremidi.so 1>/dev/null 2>&1; then \
		cp -a build/_deps/libremidi-build/liblibremidi.so debian/sdl3-synth/usr/lib/sdl3-synth/; \
	else \
		cp -a build/_deps/libremidi-build/liblibremidi.a debian/sdl3-synth/usr/lib/sdl3-synth/; \
	fi
	if ls build/_deps/cjson-build/libcjson.so 1>/dev/null 2>&1; then \
		cp -a build/_deps/cjson-build/libcjson.so debian/sdl3-synth/usr/lib/sdl3-synth/; \
	else \
		cp -a build/_deps/cjson-build/libcjson.a debian/sdl3-synth/usr/lib/sdl3-synth/; \
	fi

override_dh_strip:
	dh_strip -psdl3-synth --exclude=usr/lib/sdl3-synth

override_dh_missing:
	dh_missing --fail-missing

override_dh_shlibdeps:
	dh_shlibdeps -psdl3-synth -l debian/sdl3-synth/usr/lib/sdl3-synth --ignore-missing-info
